<div class=container>
<div class="card-deck">
  <div class="row mx-auto my-4">
  
  <div class="card text-primary text-center">
    <a routerLink='../quotes' (click)="selectCategory('Life')">
    <img class="card-img-top d-inline" src="/assets/images/Life/Life Quote 1.jpg" alt="Life Quotes">
      <div class="card-body">
        <h4 class="card-text">Life Quotes</h4>
      </div>
    </a>
  </div> 

  <div class="card text-primary text-center">
    <a routerLink='../quotes' (click)="selectCategory('Motivational')">
    <img class="card-img-top d-inline" src="/assets/images/Motivational/Motivational Quote 1.jpg"  alt="Motivational Quotes">
    <div class="card-body">
      <h4 class="card-text">Motivational Quotes</h4>
    </div>
    </a>
  </div>

  <div class="card text-primary text-center">
    <a routerLink='../quotes' (click)="selectCategory('Success')">
    <img class="card-img-top d-inline" src="/assets/images/Success/Success Quote 2.jpg"  alt="Success Quotes">
    <div class="card-body">
      <h4 class="card-text">Success Quotes</h4>
    </div>
    </a>
  </div>
  </div>

  <div class="row mx-auto my-4">
    <div class="card text-primary text-center">
      <a routerLink='../quotes' (click)="selectCategory('Positivity')">
      <img class="card-img-top d-inline" src="/assets/images/Positivity/Positivity Quote 6.jpg"  alt="Positivity Quotes">
      <div class="card-body">
        <h4 class="card-text">Positivity Quotes</h4>
      </div>
      </a>
    </div>
  
    <div class="card text-primary text-center">
      <a routerLink='../quotes' (click)="selectCategory('Knowledge')">
      <img class="card-img-top d-inline" src="/assets/images/Knowledge/Knowledge Quote 1.jpg"  alt="Knowledge Quotes">
      <div class="card-body">
        <h4 class="card-text">Knowledge Quotes</h4>
      </div>
      </a>
    </div>
  
    <div class="card text-primary text-center">
      <a routerLink='../quotes' (click)="selectCategory('Time')">
      <img class="card-img-top d-inline" src="/assets/images/Time/Time Quote 1.jpg"  alt="Time Quotes">
      <div class="card-body">
        <h4 class="card-text">Time Quotes</h4>
      </div>
      </a>
    </div>
  </div>
</div>
</div>