<div class="jumbotron mb-0" id="grad">
  <h2 class="text-center" style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Amazing Quotes!</h2>
  <p class="text-center font-italic">Read. Get inspired. Share.</p>
  <p class="text-center">
    <a class="btn btn-primary btn-lg" routerLink="../categories" role="button">
      Explore &raquo;
    </a>
  </p>
</div>
<div class="container-fluid mx-auto bg-light">
  <div class="row p-4 d-flex justify-content-center">
      <div class="mx-3">
          <a routerLink="../categories" class="btn btn-primary d-flex align-items-center justify-content-center" style="width: 12rem; height: 10rem;">          
            View Categories
          </a>
        </div>
      <div class="mx-3">
        <a routerLink="../authors" class="btn btn-primary d-flex align-items-center justify-content-center" style="width: 12rem; height: 10rem;">          
          View Authors
        </a>
      </div>
      <div class="mx-3">
          <a routerLink="../pictures" class="btn btn-primary d-flex align-items-center justify-content-center" style="width: 12rem; height: 10rem;">          
            View Pictures
          </a>
      </div>
      <div class="mx-3">
          <a routerLink="../quote-of-the-day" class="btn btn-primary d-flex align-items-center justify-content-center" style="width: 12rem; height: 10rem;">          
            View Quote of the Day
          </a>
      </div>
  </div>
</div>